@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: black;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212; /* ✅ ใส่สีพื้นหลังสำหรับโหมดมืด */
    --foreground: #ededed;
  }
}

* {
  color: black;

}

body {
  background: var(--background);
  color: var(--foreground);

}
